:host {
  display: block;
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
  min-height: 300px;
}
.mapa-header {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.close-btn {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 18px;
  cursor: pointer;
}
.leaflet-routing-container,
.leaflet-routing-alternatives-container {
  display: none !important;
}

